include ../booking-button/booking-button.pug
include ../slider/slider.pug

mixin rooms(title)
    - let room = require("../data/rooms.js");
    - let luxRoom = room[4];
    - let presidentRoom = room[5];
    - let economPlusRoom = room[1];
    <section class="rooms positioner" id="rooms">
        <h2 class="title title__rooms title_2">#{title}</h2>
        +slider("rooms")
            <ul class="rooms__list slider__list">
                <li class="rooms__room">
                    <div class="rooms__img-container">
                        <img src="/img/room-1.jpg" alt="Эконом плюс" class="rooms__img">
                    </div>
                    <section class="rooms__info">
                        <h3 class="title title__rooms title_3">#{economPlusRoom.name}</h3>
                        <ul class="rooms__ul">
                            <li class="rooms__item">
                                | Площадь - #{economPlusRoom.area}
                            </li>
                            <li class="rooms__item">
                                | Размеры (ШхГхВ) - #{economPlusRoom.size}
                            </li>
                            <li class="rooms__item">
                                | Цена за сутки: #{economPlusRoom.price}₽
                            </li>
                        </ul>
                        +booking-button("primary rooms__booking-button")
                    </section>
                </li>
                <li class="rooms__room">
                    <div class="rooms__img-container">
                        <img src="#{luxRoom.image}" alt="Люкс" class="rooms__img">
                    </div>
                    <section class="rooms__info">
                        <h3 class="title title__rooms title_3">#{luxRoom.name}</h3>
                        <ul class="rooms__ul">
                            <li class="rooms__item">
                                | Площадь - #{luxRoom.area}
                            </li>
                            <li class="rooms__item">
                                | Размеры (ШхГхВ) - #{luxRoom.size}
                            </li>
                            <li class="rooms__item">
                                | Цена за сутки: #{luxRoom.price}₽
                            </li>
                        </ul>
                        +booking-button("primary rooms__booking-button")
                    </section>
                </li>
                <li class="rooms__room">
                    <div class="rooms__img-container">
                        <img src="#{presidentRoom.image}" alt="Президентский" class="rooms__img">
                    </div>
                    <section class="rooms__info">
                        <h3 class="title title__rooms title_3">#{presidentRoom.name}</h3>
                        <ul class="rooms__ul">
                            <li class="rooms__item">
                                | Площадь - #{presidentRoom.area}
                            </li>
                            <li class="rooms__item">
                                | Размеры (ШхГхВ) - #{presidentRoom.size}
                            </li>
                            <li class="rooms__item">
                                | Цена за сутки: #{presidentRoom.price}₽
                            </li>
                        </ul>
                        +booking-button("primary rooms__booking-button")
                    </section>
                </li>
            </ul>
    </section>