mixin checkbox(label, name, value)
    <label class="checkbox checkbox__main_#{name}">
        <input type=checkbox name=#{name} value=#{value}> 
        <span class="checkbox__value">#{label}</span>
    </label>

    